<!--
<table id="table_id" class="display">
  <thead>
  <th>Titre</th>
  <th>Description</th>
  <th>Montant</th>
  <th>Catégorie</th>
  <th>In/Out</th>
  <th>Date création</th>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactionsList">
    <td>{{ transaction.title }}</td>
    <td>{{ transaction.description }}</td>
    <td>{{ transaction.amount }}</td>
    <td>{{ transaction.category }}</td>
    <td>{{transaction.isInput}}</td>
    <td>{{ transaction.createdAt}}</td>
  </tr>

  </tbody>
</table>
-->

<table id="myTable" class="row-border hover">
  <thead>
  <tr>
    <th>Titre</th>
    <th>Description</th>
    <th>Montant</th>
    <th>Catégorie</th>
    <th>In/Out</th>
    <th>Date création</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactionsList">
    <td>{{ transaction[0] }}</td>
    <td>{{ transaction[1] }}</td>
    <td>{{ transaction[2] }}</td>
    <td>{{ transaction[3] }}</td>
    <td>{{transaction[4]}}</td>
    <td>{{ transaction[5]}}</td>
  </tr>
  </tbody>
</table>


